{{ $data := index site.Data site.Language.Lang}}
{{ $data := index site.Data.home  site.Language.Lang }}

{{ $ := index site.Data.header site.Language.Lang }}
{{ $glossary := index site.Data.glossary site.Language.Lang }}

<section class="section sec1" id="home">
    <div class="home-header">
        <img src="{{$data.image}}" class="image">
        <div class="home-header--content">
            <h1 class="name">{{ $data.title | safeHTML }}</h1>
            <p>{{ $data.shortDescription }}</p>
        </div>
    </div>
</section>